/user
= render 'shared/error_messages', :object => f.object 
.form
 .line
  .unit.size1of2
   = f.label :name
   %br/
   = f.text_field :name
  .unit.size1of2
   = f.label :email
   %br/
   = f.text_field :email
 .line
  .unit.size1of2
   = f.label :password
   %br/
   = f.password_field :password
  .unit.size1of2
   = f.label :password_confirmation, "Confirmation"
   %br/
   = f.password_field :password_confirmation
.actions
 = f.submit "Sign up"