/* default size is 50
= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
.justright= will_paginate @users
%table.main{:summary => "Users"}
 %tr
  %th.size1of5
   = "Gravatar"
  %th.size1of4
   = sortable "name", "Name"
  %th.size1of10
   = sortable "city", "City"
  %th.size1of10
   = sortable "state", "State"
  %th.size1of10
   = sortable "country", "Country"
  %th.size1of4
   = "Fav Weapon"
  %th.size1of10.lastUnit
 - for user in @users
  %tr
   %td.justleft
    = gravatar_for user, :size => 55
   %td.smallpadding
    = link_to user.name, user_path(user)
   %td.smallpadding
    = user.city
   %td.smallpadding
    = user.state
   %td.smallpadding
    = user.country
   %td.smallpadding
    = "fut fav gun"
   %td.justcenter
    - if current_user.admin?
     = link_to "Delete?", user_path(user.id), :confirm => 'Are you sure?', :method => :delete
.justright= will_paginate @users