%table.weapon_fonts{:summary => "user public info"}
 %tr.justcenter
  %th.size1of4
   = "User Name"
  %th.size1of4
   = "City"
  %th.size1of4
   = "State"
  %th.size1of4.lastUnit
   = "Future"
 %tr.justcenter
  %td
   = @user.name
  %td
   = @user.city
  %td
   = @user.state
  %td
   /= @user.weapon_action