/* default size is 50
/= hidden_field_tag :direction, params[:direction]
/= hidden_field_tag :sort, params[:sort]
.justright= will_paginate @users
%table.main{:summary => "Users"}
 %tr
  %th.size1of5
   = "Gravatar"
  %th.size1of4
   = "Name"
  %th.size1of4
   = "Fav Weapon"
  %th.size1of10
   = "future"
  %th.size1of10
   = "future"
  %th.size1of10
 - for user in @users
  %tr
   %td.justleft
    = gravatar_for user, :size => 55
   %td.smallpadding
    = link_to user.name, user_path(user)
   %td.smallpadding
    = user.email
   %td.smallpadding
   %td.smallpadding
   %td.justcenter
    - if current_user.admin?
     = link_to "Delete?", user_path(user.id), :confirm => 'Are you sure?', :method => :delete