/ user show page
%h3
 = link_to "Edit My Info", edit_user_path(@user)
%table{:summary => "User information"}
 %tr
  %td.main.round
   / THIS SECTION IS WHERE YOU PUT YOUR .LINE AND .UNITS 
   .line
    .unit.size1of2
     %aside.span4
      = render 'user_info'
      / %h1
      /  = gravatar_for @user
      /  = @user.name
    .unit.size1of2 
     %aside.span4
      = render 'micropost_form'
   .line
    #accordion
     %h3
      %a{:href => "#header-1"} My Profile
     %div
      #header-1
       = render 'user_public_info'
     %h3
      %a{:href => "#header-2"} My Favorite Weapons
     %div
      #header-2
       = render 'user_favorite_weapons'
  %td.sidebar.round
   .span8
    - if @user.microposts.any?
     %h3
      Microposts (#{@user.microposts.count})
     %ol.microposts
      = render @microposts
     = will_paginate @microposts

/ == Schema Information
/#
/# Table name: users
/#
/#  id                 :integer         not null, primary key
/#  name               :string(255)
/#  email              :string(255)
/#  encrypted_password :string(255)
/#  salt               :string(255)
/#  admin              :boolean         default(FALSE)
/#  created_at         :datetime
/#  updated_at         :datetime
/#