/ user show page
%h3
 = link_to "Edit My Info", edit_user_path(@user)
%table{:summary => "User information"}
 %tr
  %td.main.round
   / THIS SECTION IS WHERE YOU PUT YOUR .LINE AND .UNITS 
   .line
    %h1
     = gravatar_for @user
     = @user.name
     %br/
   .line
    #accordion
     %h3
      %a{:href => "#header-1"} My Profile
     %div
      #header-1.accordian= render 'user_public_info'
     %h3
      %a{:href => "#header-2"} My Favorite Weapons
     %div
      #header-2= render 'user_favorite_weapons'
  %td.sidebar.round
   %strong Future use
   %strong URL
   = "future use"
/ == Schema Information
/#
/# Table name: users
/#
/#  id                 :integer         not null, primary key
/#  name               :string(255)
/#  email              :string(255)
/#  encrypted_password :string(255)
/#  salt               :string(255)
/#  admin              :boolean         default(FALSE)
/#  created_at         :datetime
/#  updated_at         :datetime
/#