%table.weapon_fonts{:summary => "Weapon Basics"}
 %tr.justcenter
  %th.size1of4
   /= "Weapon Type"
  %th.size1of4
   = "Name"
  %th.size1of4
   = "Nickname"
  %th.size1of4.lastUnit
   = "Weapon Action"
 %tr.justcenter
  %td
   /= @weapon.weapon_type
  %td
   = @weapon.weapon_name
  %td
   = @weapon.weapon_nickname
  %td
   = @weapon.weapon_action