%table.weapon_fonts{:summary => "Weapon Munitions"}
 %tr.justcenter
  %th.size1of5
   = "Caliber"
  %th.size1of5
   = "Units"
  %th.size1of5
   = "Round Cap."
  %th.size1of5
   = "Rate of Fire"
  %th.size1of5.lastUnit
   = "ROF Units"
 %tr.justcenter
  %td
   = @weapon.caliber
  %td
   = @weapon.caliber_unit
  %td
   = @weapon.round_cap
  %td
   = @weapon.rate_of_fire
  %td
   = @weapon.rof_unit