%table.main{:summary => "Weapon Range"}
 %tr.justcenter
  %th.size1of4
   = "Max Range"
  %th.size1of4
   = "Units"
  %th.size1of4
   = "Effective Range"
  %th.size1of4
   = "Units"
 %tr.justcenter
  %td
   = @weapon.max_range
  %td
   = @weapon.max_range_unit
  %td
   = @weapon.effective_range
  %td
   = @weapon.effective_range_unit