/ WEAPONS set up the layout
%h3
 = link_to "Edit Weapon", edit_weapon_path(@weapon)
%table{:summary => "Weapon information"}
 %tr
  %td.main.round
   / THIS SECTION IS WHERE YOU PUT YOUR .LINE AND .UNITS 
   .line
    %h1
     - if @weapon.weapon_image_url.nil?
      = "Image Here"
     - else  
      = image_tag @weapon.weapon_image_url(:xlarge_thumb).to_s
     %br/
   .line
    #accordion
     %h3
      %a{:href => "#header-1"} Weapon Basics
     %div
      #header-1.accordian= render 'weapon_basics'
     %h3
      %a{:href => "#header-2"} Weapon Munitions
     %div
      #header-2= render 'weapon_munitions'
     %h3
      %a{:href => "#header-3"} Weapon Range
     %div
      #header-3= render 'weapon_range'
     %h3
      %a{:href => "#header-4"} Weapon Origin  
     %div
      #header-4= render 'weapon_origin'
  %td.sidebar.round
   %strong Name
   = @weapon.origin_country
   = @weapon.year_made
   %br/
   %strong URL
   = "future use"
/	#  weapon_type          :string(255)
/	#  weapon_name          :string(255)
/	#  weapon_nickname      :string(255)
/	#  weapon_action        :string(255)
/	#  weapon_image         :string(255)
/	#  caliber              :integer
/	#  caliber_unit         :string(255)
/	#  round_cap            :integer
/	#  rate_of_fire         :integer
/	#  rof_unit             :string(255)
/	#  max_range            :integer
/	#  max_range_unit       :string(255)
/	#  effective_range      :integer
/	#  effective_range_unit :string(255)
/	#  origin_country       :string(255)
/	#  year_made