/ WEAPONS set up the layout
.line.justcenter
 .unit.size1of3
  /= link_to "Add to Favorites", @user, :method => @user.add_favorite_weapon(@weapon), :confirm => "Are you sure?"
 .unit.size1of3
  #add_favorite
   - if @user_weapons.where(:weapon_name => @weapon.weapon_name).nil?
    = link_to "Add to Favorites"
    /, @user, :method => @user.add_favorite_weapon(@weapon), :confirm => "Are you sure?"
   - else
    = ""
 .unit.size1of3.lastUnit
  = link_to "Edit Weapon", edit_weapon_path(@weapon)
/.line
/ .unit.size1of1
/  #favorite_weapon_form
/   = form_for(@user) do |f|
/    = render 'users/fields_for_favorite', :f => f
%table{:summary => "Weapon information"}
 %tr
  %td.main.round
   / THIS SECTION IS WHERE YOU PUT YOUR .LINE AND .UNITS 
   .line
    .unit.size1of2
     %h1
      = @weapon.weapon_name
    .unit.size1of2
     %h1
      - if @weapon.weapon_image_url.nil?
       = "Image Here"
      - else  
       = image_tag @weapon.weapon_image_url(:xlarge_thumb).to_s
     %br/
   .line
    #accordion
     %h3
      %a{:href => "#header-1"} Weapon Basics
     %div
      #header-1.accordian= render 'weapon_basics'
     %h3
      %a{:href => "#header-2"} Weapon Munitions
     %div
      #header-2= render 'weapon_munitions'
     %h3
      %a{:href => "#header-3"} Weapon Range
     %div
      #header-3= render 'weapon_range'
     %h3
      %a{:href => "#header-4"} Weapon Origin  
     %div
      #header-4= render 'weapon_origin'
  %td.sidebar.round
   %strong Name
   = @weapon.origin_country
   = @weapon.year_made
   %br/
   %strong URL
   = "future use"