
%body
  %ul#nav.current.round
    %li= link_to "About", about_path
    %li= link_to "Contact", contact_path
    %li= link_to "Advertising", advertising_path
    %li= link_to "Privacy", privacy_path
    %li= link_to "News"