/* logo defined in app/helpers/application_helper.rb   */
/* as image_tag("logo.png"...) This is where you would */
/* change the image, NOT HERE.  :alt  listed in case   */
/* signed_in? is defined in the sessions_helper.rb     */

%section.round
  %ul#nav.round
    %li= link_to "Home"
    %li= link_to "Preview"
    %li= link_to "Testimonies"
    %li= link_to "Help"
    %li= link_to "All Teams"
    %li= link_to "Our Team"
    %li= link_to "My Account"
  %br/
  %br/